.container_img {
  max-width:200px;
  max-height:150px;
  width: auto;
  height: auto;
}


.header{
  align-items: center;
  align-content: center;
}


.footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}


.body {
  min-height: 20%;
  height: 50%;
  background-color: cyan;
}


.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1080px;
  background-color: cyan;
  background-size:1080px ;
  background-image: url(../img/img_border.jpg);
  background-position: center
  ;
}


