.container_img {
  max-width:200px;
  max-height:150px;
  width: auto;
  height: auto;
  
}


.header{
  align-items: center;
  align-content: center;
  font-family: 'Courier New', Courier, monospace;
}


.footer {
  text-align: center;
  padding: 30px;


  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px; /* ajuste a altura conforme necessário */
background: none;

}


.body {
  min-height: 20%;
  height: 50%;
  background-color: cyan;
}

.h2{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 250%;
  text-align: center;
}

.container_contato {
  position: relative;
  min-height: 100vh;
  position: absolute;
  background-size:500x ;
  background-image: url(../img/img_template_cartao_visita.png);
  border-radius: 50%;
  display: list-item;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  width: 500px; /* Largura desejada da div */
  height: 500px; /* Altura desejada da div */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.texto_contato {
  position: relative;
  min-height: 100vh;
  position: absolute;
  background-size:500x ;
  border-radius: 50%;
  display: list-item;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  width: 500px; /* Largura desejada da div */
  height: 500px; /* Altura desejada da div */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.container_index {
  position: relative;
  min-height: 100vh;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1080px;
  background-size:1080px ;
  background-image: url(../img/img_border.jpg);
  display: list-item;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}





body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}


