/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left-container, .right-container {
    flex: 1;
    margin: 10px;
}

.d-none {
    display: none;
}

.menu-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #f0f0f0;
}

.menu-description {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-style: italic;
}

.menu-description:hover {
    background-color: #f0f0f0;
}
